public net.minecraft.client.renderer.GlStateManager *
public net.minecraft.client.renderer.GlStateManager$TextureState
public net.minecraft.client.renderer.GlStateManager$TextureState *
public net.minecraft.client.renderer.GlStateManager$FogState
public net.minecraft.client.renderer.GlStateManager$FogState *
public net.minecraft.client.renderer.ActiveRenderInfo field_178812_b # MODELVIEW
public net.minecraft.client.renderer.ActiveRenderInfo field_178813_c # PROJECTION
# ChunkTranslucentOit replay + MixinRenderGlobal redirect.
public net.minecraft.client.renderer.RenderGlobal field_174996_N # renderContainer
public net.minecraft.client.renderer.RenderGlobal func_174982_a(Lnet/minecraft/util/BlockRenderLayer;)V # renderBlockLayer
public net.minecraft.client.renderer.ChunkRenderContainer field_178009_a # renderChunks
public net.minecraft.client.renderer.EntityRenderer field_175080_Q # fogColorRed
public net.minecraft.client.renderer.EntityRenderer field_175082_R # fogColorGreen
public net.minecraft.client.renderer.EntityRenderer field_175081_S # fogColorBlue
public net.minecraft.client.model.ModelBox field_78254_i # quadList
public toni.sodiumdynamiclights.SodiumDynamicLights dynamicLightSources
public net.optifine.DynamicLights mapDynamicLights
public net.optifine.DynamicLights timeUpdateMs
