public net.minecraft.client.renderer.GlStateManager *
public net.minecraft.client.renderer.GlStateManager$TextureState
public net.minecraft.client.renderer.GlStateManager$TextureState *
public net.minecraft.client.renderer.GlStateManager$FogState
public net.minecraft.client.renderer.GlStateManager$FogState *
public net.minecraft.client.renderer.ActiveRenderInfo field_178812_b # MODELVIEW
public net.minecraft.client.renderer.ActiveRenderInfo field_178813_c # PROJECTION
# ChunkTranslucentOit replay + MixinRenderGlobal redirect.
public net.minecraft.client.renderer.RenderGlobal field_174996_N # renderContainer
public net.minecraft.client.renderer.RenderGlobal func_174982_a(Lnet/minecraft/util/BlockRenderLayer;)V # renderBlockLayer
public net.minecraft.client.renderer.ChunkRenderContainer field_178009_a # renderChunks
public net.minecraft.client.renderer.EntityRenderer field_175080_Q # fogColorRed
public net.minecraft.client.renderer.EntityRenderer field_175082_R # fogColorGreen
public net.minecraft.client.renderer.EntityRenderer field_175081_S # fogColorBlue
public net.minecraft.client.model.ModelBox field_78254_i # quadList
public net.minecraft.client.model.ModelQuadruped field_78145_g # childYOffset
public net.minecraft.client.model.ModelQuadruped field_78151_h # childZOffset
public net.minecraft.client.model.ModelMagmaCube field_78109_a # segments
public net.minecraft.client.model.ModelMagmaCube field_78108_b # core
public net.minecraft.client.model.ModelBlaze field_78105_b # blazeHead
public net.minecraft.client.model.ModelBlaze field_78106_a # blazeSticks
public net.minecraft.client.model.ModelSquid field_78202_a # squidBody
public net.minecraft.client.model.ModelSquid field_78201_b # squidTentacles
public net.minecraft.client.model.ModelSilverfish field_78171_a # silverfishBodyParts
public net.minecraft.client.model.ModelSilverfish field_78169_b # silverfishWings
public net.minecraft.client.model.ModelEnderMite field_178713_d # bodyParts
public net.minecraft.client.model.ModelBat field_82895_a # batHead
public net.minecraft.client.model.ModelBat field_82893_b # batBody
public net.minecraft.client.model.ModelGuardian field_178710_a # guardianBody
public net.minecraft.client.model.ModelVex field_191230_b # rightWing
public net.minecraft.client.model.ModelVex field_191229_a # leftWing
public net.minecraft.client.model.ModelSlime field_78200_a # slimeBodies
public net.minecraft.client.model.ModelSlime field_78198_b # slimeRightEye
public net.minecraft.client.model.ModelSlime field_78199_c # slimeLeftEye
public net.minecraft.client.model.ModelSlime field_78197_d # slimeMouth
public net.minecraft.client.model.ModelParrot field_192764_a # body
public net.minecraft.client.model.ModelParrot field_192765_b # tail
public net.minecraft.client.model.ModelParrot field_192766_c # wingLeft
public net.minecraft.client.model.ModelParrot field_192767_d # wingRight
public net.minecraft.client.model.ModelParrot field_192768_e # head
public net.minecraft.client.model.ModelParrot field_192773_j # legLeft
public net.minecraft.client.model.ModelParrot field_192774_k # legRight
public net.minecraft.client.model.ModelOcelot field_78156_g # ocelotHead
public net.minecraft.client.model.ModelOcelot field_78162_h # ocelotBody
public net.minecraft.client.model.ModelOcelot field_78158_e # ocelotTail
public net.minecraft.client.model.ModelOcelot field_78155_f # ocelotTail2
public net.minecraft.client.model.ModelOcelot field_78161_a # ocelotBackLeftLeg
public net.minecraft.client.model.ModelOcelot field_78159_b # ocelotBackRightLeg
public net.minecraft.client.model.ModelOcelot field_78160_c # ocelotFrontLeftLeg
public net.minecraft.client.model.ModelOcelot field_78157_d # ocelotFrontRightLeg
public net.minecraft.client.model.ModelRabbit field_178698_a # rabbitLeftFoot
public net.minecraft.client.model.ModelRabbit field_178696_b # rabbitRightFoot
public net.minecraft.client.model.ModelRabbit field_178697_c # rabbitLeftThigh
public net.minecraft.client.model.ModelRabbit field_178694_d # rabbitRightThigh
public net.minecraft.client.model.ModelRabbit field_178695_e # rabbitBody
public net.minecraft.client.model.ModelRabbit field_178692_f # rabbitLeftArm
public net.minecraft.client.model.ModelRabbit field_178693_g # rabbitRightArm
public net.minecraft.client.model.ModelRabbit field_178704_h # rabbitHead
public net.minecraft.client.model.ModelRabbit field_178705_i # rabbitRightEar
public net.minecraft.client.model.ModelRabbit field_178702_j # rabbitLeftEar
public net.minecraft.client.model.ModelRabbit field_178703_k # rabbitTail
public net.minecraft.client.model.ModelRabbit field_178700_l # rabbitNose
public net.minecraft.client.model.ModelGhast field_78128_a # body
public net.minecraft.client.model.ModelGhast field_78127_b # tentacles
public net.minecraft.client.model.ModelWolf field_78180_g # wolfTail
public net.minecraft.client.model.ModelWolf field_78186_h # wolfMane
public net.minecraft.client.model.ModelHorse field_110711_o # backLeftLeg
public net.minecraft.client.model.ModelHorse field_110719_v # backLeftShin
public net.minecraft.client.model.ModelHorse field_110718_w # backLeftHoof
public net.minecraft.client.model.ModelHorse field_110722_x # backRightLeg
public net.minecraft.client.model.ModelHorse field_110721_y # backRightShin
public net.minecraft.client.model.ModelHorse field_110720_z # backRightHoof
public net.minecraft.client.model.ModelHorse field_110688_A # frontLeftLeg
public net.minecraft.client.model.ModelHorse field_110689_B # frontLeftShin
public net.minecraft.client.model.ModelHorse field_110690_C # frontLeftHoof
public net.minecraft.client.model.ModelHorse field_110684_D # frontRightLeg
public net.minecraft.client.model.ModelHorse field_110685_E # frontRightShin
public net.minecraft.client.model.ModelHorse field_110686_F # frontRightHoof
public net.minecraft.client.model.ModelHorse field_110715_k # body
public net.minecraft.client.model.ModelHorse field_110712_l # tailBase
public net.minecraft.client.model.ModelHorse field_110713_m # tailMiddle
public net.minecraft.client.model.ModelHorse field_110710_n # tailTip
public net.minecraft.client.model.ModelHorse field_110716_h # neck
public net.minecraft.client.model.ModelHorse field_110714_j # mane
public net.minecraft.client.model.ModelHorse field_110705_d # horseLeftEar
public net.minecraft.client.model.ModelHorse field_110706_e # horseRightEar
public net.minecraft.client.model.ModelHorse field_110703_f # muleLeftEar
public net.minecraft.client.model.ModelHorse field_110704_g # muleRightEar
public net.minecraft.client.model.ModelHorse field_110709_a # head
public net.minecraft.client.model.ModelHorse field_110687_G # muleLeftChest
public net.minecraft.client.model.ModelHorse field_110695_H # muleRightChest
public net.minecraft.client.model.ModelHorse field_110717_i # horseFaceRopes
public net.minecraft.client.model.ModelHorse field_110696_I # horseSaddleBottom
public net.minecraft.client.model.ModelHorse field_110697_J # horseSaddleFront
public net.minecraft.client.model.ModelHorse field_110698_K # horseSaddleBack
public net.minecraft.client.model.ModelHorse field_110691_L # horseLeftSaddleRope
public net.minecraft.client.model.ModelHorse field_110692_M # horseLeftSaddleMetal
public net.minecraft.client.model.ModelHorse field_110693_N # horseRightSaddleRope
public net.minecraft.client.model.ModelHorse field_110694_O # horseRightSaddleMetal
public net.minecraft.client.model.ModelHorse field_110700_P # horseLeftFaceMetal
public net.minecraft.client.model.ModelHorse field_110699_Q # horseRightFaceMetal
public net.minecraft.client.model.ModelHorse field_110702_R # horseLeftRein
public net.minecraft.client.model.ModelHorse field_110701_S # horseRightRein
public net.minecraft.client.model.ModelLlama field_191226_i # chest1
public net.minecraft.client.model.ModelLlama field_191227_j # chest2
public net.minecraft.client.model.ModelWither field_82904_b # heads
public net.minecraft.client.model.ModelWither field_82905_a # upperBodyParts
public net.minecraft.client.model.ModelDragon field_78221_a # head
public net.minecraft.client.model.ModelDragon field_78219_b # spine
public net.minecraft.client.model.ModelDragon field_78217_d # body
public net.minecraft.client.model.ModelDragon field_78218_e # rearLeg
public net.minecraft.client.model.ModelDragon field_78215_f # frontLeg
public net.minecraft.client.model.ModelDragon field_78225_k # wing
public toni.sodiumdynamiclights.SodiumDynamicLights dynamicLightSources
public net.optifine.DynamicLights mapDynamicLights
public net.optifine.DynamicLights timeUpdateMs
